<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>frankchat</h1>
        <p>faster and better than zoom..</p>
    </div>
    <div id="video"></div>
    <div id="messages"></div>
    <form action="">
      <input id="m" autocomplete="off" /><button id="btn" onclick="myFunction()">Send</button>
    </form>
  
</main>

<footer>
    <%- include('../partials/foot'); %>
</footer>

</body>
<script src="/socket.io/socket.io.js"></script>
<script >

  var socket = io();
 

document.getElementById('btn').onclick = (e) => {
    e.preventDefault();
    //console.log(e);
    let msg = document.getElementById('m').value; 
    socket.emit("chat",{u: socket.id, msg:msg, ts: Date.now()});
    document.getElementById('m').value = "";
    //document.getElementById('messages').innerHTML += "<br/>"+msg;
    //console.log("i am " + socket.id)
}



socket.on('regAccept', function(obj){
    if(obj.u == socket.id) {
        document.getElementById('video').innerHTML = `Me: <strong>${(socket.id).substr(0, 6)}</strong>${(socket.id).substr(6)}`;
        console.log("registered! " + obj.u + " == " + socket.id)    
    } else {
        document.getElementById('video').innerHTML = `ERROR ERROR: ${socket.id}`;
        console.log(`ERROR IN REGISTRATION, 500 ERROR`);

    }
    
    
})


socket.on('chat', function(obj){
    //alert(obj)
let [month, date, year]    =  new Date(obj.ts).toLocaleDateString("en-US").split("/")
let [hour, minute, second] =  new Date(obj.ts).toLocaleTimeString("en-US").split(/:| /)
if(obj.u == socket.id) {
    i = "<i>Me</i>"; 
} else {
    i = (obj.u).substr(0, 6);
}

        document.getElementById('messages').innerHTML += `<br/>${hour}:${minute}:${second} - ${i}: ${obj.msg}`;
});

</script>
</html>