<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>frankchat</h1>
        <p>faster and better than zoom..</p>
    </div>
    <div id="video">video</div>
    <div id="messages"></div>
    <form action="">
      <input id="m" autocomplete="off" /><button id="btn" onclick="myFunction()">Send</button>
    </form>
  
</main>

<footer>
    <%- include('../partials/foot'); %>
</footer>

</body>
<script src="/socket.io/socket.io.js"></script>
<script >
  var socket = io();
 
document.getElementById('btn').onclick = (e) => {
    e.preventDefault();
    console.log(e);
    let msg = document.getElementById('m').value; 
    document.getElementById('m').value = "";
    socket.emit("chat",msg);
}
    
</script>
</html>